body {
    margin:0;
    background-color:#FFFE91;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100hv;
    font-family:Ariel, sans-serif;
}

.bunny {
    position:absolute;
    font-size: 60px;
    opacity:0.6;
}

.bunny1 {
    top:10%;
    left:10%;
}

.bunny2 {
    top:20%;
    right:15%;
}

.bunny3 {
    bottom:15%;
    left:20%;
}

.bunny4 {
    bottom:10%;
    right:10%;
}

.flower {
    position:absolute;
    font-size: 60px;
    opacity:0.6;
}

.flower1 {
    top:8%;
    left:40%;
}

.flower2 {
    top:65%;
    left:8%;
}

.flower3 {
    bottom:10%;
    right:35%;
}

.flower4 {
    top:30%;
    right:10%;
}

.clock {
    background-color:#F08784;
    padding:40px 80px;
    border-radius:10px;
    box-shadow: 0 0 20px #8A8A8A;
}

#time {
    color:#8E403A;
    font-size: 60px;
    letter-spacing: 3px;
}